/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 198;
  --sat: 90%;
  --lig: 72%;
  --second-hue: 240;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /* for light mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/

.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}

.change-theme:hover{
  color: var(--first-color);
}


/*========== Variables Light theme ==========*/
body.light-theme{
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: #fff;
}


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.hidden {
  display: none!important;
  visibility: hidden;
  opacity: 0;
}

/*=============== HEADER & NAV===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav__logo:hover{
  color: var(--first-color-alt);
}



/* Active link */
.active-link{
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.2));  
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
}

/* Change background header */


/*=============== HOME ===============*/
.home__container{
  position: relative;
  /* row-gap: 4.5rem; */
  padding-top: 2rem;
}

.home__data{
  text-align: center;
}

.home__greeting,
.home__education{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home__greeting{
  display: block;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.home__education{
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.home__name{
  font-size: var(--biggest-font-size);
}

.home__social,
.home__scroll{
  position: fixed;
}

.home__social{
  left: 0;
  display: grid;
  row-gap: 0.5rem;
  align-content: center;
  height: 100%;
}

.home__social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .25rem;
      border-radius: 0 0.25rem 0.25rem 0;
  display: flex;
  font-size: 1rem;
  transition: .4s;
}

.home__social-link:hover{
  background-color: var(--first-color);
  color: #fff;
}

/* .home__social::after{
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 3px);
} */

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .4s;
}

.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  padding: .632rem 1rem;
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2.5rem;
}

.about__data{
  text-align: center;
}
.about__data > img {
  width: 50vw;
}

.about__info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: .5rem;
  margin-bottom: 2rem;
}

.about__box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about__icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about__title{
  font-size: var(--small-font-size);
}

.about__subtitle{
  font-size: var(--tiny-font-size);
}

.about__description{
  margin-bottom: 2rem;
  text-align: left;
}

/*=============== SKILLS ===============*/
.skills__container{
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills__content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skils__group{
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data{
  display: flex;
  column-gap: .5rem;
}

.skills .bx-badge-check{
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills__level{
  font-size: var(--tiny-font-size);
}



/*=============== SERVICES ===============*/


/* Services modal */


/*Active modal*/


/*=============== WORK ===============*/
.work__container{
  padding-top: 1rem;
}

.work__filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.work__item{
  cursor: pointer;
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}

.work__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
}

.work__img{
  border-radius: 1rem;
  margin-bottom: .75rem;
  max-height: 275.5px;
  object-fit: cover;
  width: 100%;
}

.work__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.work__button{
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.work__button:hover .work__icon{
  transform: translateX(.25rem);
}

.work__icon{
  font-size: 1rem;
  transition: .4s;
}

/* Active item work*/
.active-work{
  background-color: var(--first-color);
  color: var(--body-color);
}

.popout__container{
  width: 100vw;
  height: 100vh;
  background-color: #343439a6;
  position: fixed;
  z-index: 11;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s, opacity 0.5s linear;
}

.popout__item{
  position: absolute;
  width: 95vw;
  height: 75vh;
  background: white;
  margin: auto;
  background-color: var(--container-color);
  border-radius: 2.7rem;
  display: flex;
  transition: 0.6s ease;
  flex-direction: column;
  
}
.popout__header{
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 17%;
}

.popout__header  i{
  margin: 0 40px;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  background-color: var(--first-color);
  color: var(--body-color);
  right: 0%;
}

.popout__title{
  margin: 0 40px;
  
  font-size: var(--body-font);
}
.popout__carrousel{
  height: 35%;
  width: 100%;
  background-color: #282e39;
  position: relative;
}

.popout__carrousel img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.popout__main{
  width: 100%;
  display: flex;
  padding: 20px;
  height: 43%;
}
.popout__text{
  width: 66%;
}
.popout__links{
  width: 33%;
}

/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3rem;
  padding-bottom: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

.contact__title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact__info{
  display: grid;
  gap: 1rem;
}

.contact__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

.contact__card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data{
  font-size: var(--small-font-size);
}

.contact__card-title{
  font-weight: var(--font-medium);
}

.contact__card-data{
  display: block;
  margin-bottom: .75rem;
}

.contact__button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
  transform: translateX(.25rem);
}

.contact__button-icon{
  font-size: 1rem;
  transition: .4s;
}

.contact__form-div{
position: relative;
margin-bottom: 2rem;
height: 4rem;
}

.contact__form-input{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: 2px solid var(--text-color-light);
 background: none;
 color: var(--text-color);
 outline: none;
 padding: 1.5rem;
 border-radius: .75rem;
 z-index: 1;
}

.contact__form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
}

.contact__form-area{
  height: 11rem;
}

.contact__form-area textarea{
  resize: none;
}

/*=============== FOOTER ===============*/
.footer{
  background-color: var(--first-color);
}

.footer__container{
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
  color: var(--body-color);
}

.footer__title{
  text-align: center;
  margin-bottom: 2rem;
}

.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .nav__menu{
    padding: 1rem 1.5rem;
  }

  .home__buttons{
    flex-direction: column;
  }
  .home__handle{
    width: 130px;
    height: 253px;
  }

  .about__info{
    grid-template-columns: repeat(2, 1fr);
  }

  .about__data > img {
    width: 80vw;
  }

  .skills__box{
    column-gap: 1 rem;
  }

  .skills__name{
    font-size: var(--small-font-size);
  }

  .work__item{
    font-size: var(--small-font-size);
  }

  .work__filters{
    column-gap: .25rem;
  }
  
  
}
@media screen and (max-width:576px){
  .popout__main{
    flex-direction: column;
    overflow-y: auto;
  }

  .popout__text{
    width: 100%;
    padding-bottom: 3%;
  }
  .popout__links{
    width: 100%;
  }
  .contact__container{
    grid-template-columns: auto;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .nav__menu{
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  .about__info{
    grid-template-columns: repeat(3, 140px);
  }

  .about__description{
    padding: 0 5rem;
  }
  .about__data > img {
    width: 45vw;
  }

  .skills__container{
    justify-content: center;
  }

  .skills__content{
    padding: 2rem 4rem;
  }

  .work__container{
    justify-content: center;
  }

  .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
  }

  .contact__form{
    width: 360px;
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 650px){
  .popout__item{
    width: 75vh;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 6.5rem 0 1rem;
  }

  .section__title{
    margin-bottom: 3.5rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .home__handle{
    width: 290px;
    height: 400px;
  }

  .home__img{
    width: 220px;
  }

  .home__social-link{
    padding: .4rem;
    font-size: 1.25rem;
  }

  .home__social::after{
    transform: rotate(90deg) translate(16px, 0);
  }

  .home__scroll-icon{
    font-size: 2rem;
  }

  .about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: initial;
    column-gap: 4rem;
  }

  .about_data{
    text-align: center;
  }

  .about__info{
    justify-content: center;
  }

  .about__box{
    text-align: center;
    padding: 1rem 1.25rem;
  }

  .about__description{
    padding: 0 4rem;
    margin-bottom: 2.5rem;
  }

  .skills__container{
    grid-template-columns: repeat(2, 350px);
  }

  .work__container{
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .work__card{
    padding: 1.25rem;
  }

  .work__img{
    margin-bottom: 1rem;
  }

  .work__title{
    margin-bottom: .5rem;
  }

  .contact__container{
    column-gap: 2rem;
  }

  .footer__social-link{
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .5rem;
  }

}